<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <title>Home page</title>
</head>

<body class="centered-wrapper">
  <div class="centered-content">
    <h1> Home Page </h1>
    <a href="/register" class="underline">Register</a> <br />
    <a href="/login" class="underline">Login</a>
  </div>
</body>

</html>